{% extends "base.html" %}

{% block header %}
    <style>
        body {
            text-align: center;
        }
    </style>
    {% load static %}
    <link rel="stylesheet" href="{% static 'custom/css/signin.css' %}">


    <title>Login</title>
{% endblock %}

{% block content %}
<main class="form-signin">
  <form method="post">
      {% csrf_token %}
      {% load static %}
      <img class="mb-4" src="{% static 'deft.svg' %}" alt="DEFT" width="100" height="100">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input name="username" type="text" class="form-control" id="username" placeholder="Username">
      <label for="floatingInput">User Name</label>
    </div>
    <div class="form-floating">
      <input name="password" type="password" class="form-control" id="password" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
        <label>
        <input type="checkbox" value="remember-me" id="rememberMe"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" onclick="isRememberMe()">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
  </form>
</main>
{% endblock %}


{% block script %}
    {% load static %}
    <script src="{% static 'custom/js/login.js' %}"></script>
{% endblock %}